/* https://fonts.googleapis.com/css?family=Federo generated on 2021-12-28T13:30:56+00:00 */
@font-face {font-family: 'Federo'; font-style: normal; font-weight: 400; src: url(/cwp/wp-content/themes/yootheme/fonts/font-7cc24af3.woff2) format('woff2'), url(/cwp/wp-content/themes/yootheme/fonts/font-6277f30c.woff) format('woff'); }
