/* https://fonts.googleapis.com/css?family=Federo generated on 2025-02-11T09:38:59+00:00 */
@font-face {font-family: 'Federo'; font-style: normal; font-weight: 400; src: url(/cwp/wp-content/themes/yootheme/fonts/font-760fab72.woff2) format('woff2'), url(/cwp/wp-content/themes/yootheme/fonts/font-af385582.woff) format('woff'); }
