@font-face {
  font-family: 'icomoon_star';
  src:  url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon_star.eot?m7pjvi');
  src:  url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon_star.eot?m7pjvi#iefix') format('embedded-opentype'),
    url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon_star.ttf?m7pjvi') format('truetype'),
    url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon_star.woff?m7pjvi') format('woff'),
    url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon_star.svg?m7pjvi#icomoon_star') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_star-"], [class*=" icon_star-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon_star' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-size:36px;
  vertical-align:-23%;
  /* Enable Ligatures ================ */
  letter-spacing: 5px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_star-language_icon:before {
  content: "\e900";
  color: #ffe68d;
}
.icon_star-soulsoul_icon:before {
  content: "\e901";
  color: #ff5252;
}
.icon_star-motion_icon:before {
  content: "\e902";
  color: #6ad836;
}
.icon_star-energy_icon:before {
  content: "\e903";
  color: #9625d8;
}
.icon_star-awareness_icon:before {
  content: "\e904";
  color: #fff;
}
