@font-face {
  font-family: 'icomoon';
  src:  url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon.eot?xl5tso');
  src:  url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon.eot?xl5tso#iefix') format('embedded-opentype'),
    url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon.ttf?xl5tso') format('truetype'),
    url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon.woff?xl5tso') format('woff'),
    url('/cwp/wp-content/themes/yootheme/css/icomoonCSS/fonts/icomoon.svg?xl5tso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-size:36px;
  vertical-align:-23%;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color_icon .path1:before {
  content: "\e900";
  color: rgb(255, 232, 136);
}
.icon-color_icon .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 232, 136);
}
.icon-color_icon .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 249, 225);
}
.icon-color_icon .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 238, 169);
}
.icon-color_icon .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 238, 169);
}
.icon-color_icon .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 238, 169);
}
.icon-color_icon .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 154, 54);
}
.icon-color_icon .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 154, 54);
}
.icon-color_icon .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 154, 54);
}
.icon-color_icon .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 154, 54);
}
.icon-color_icon .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 154, 54);
}
.icon-color_icon .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart_icon .path1:before {
  content: "\e927";
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path8:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path9:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path10:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path11:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path12:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path13:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path14:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path15:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 230, 230);
}
.icon-heart_icon .path16:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 230, 230);
}
.icon-heart_icon .path17:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 230, 230);
}
.icon-heart_icon .path18:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 230, 230);
}
.icon-heart_icon .path19:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path20:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 174, 174);
}
.icon-heart_icon .path21:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 82, 82);
}
.icon-heart_icon .path22:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 82, 82);
}
.icon-heart_icon .path23:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 82, 82);
}
.icon-heart_icon .path24:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 82, 82);
}
.icon-heart_icon .path25:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-life_icon .path1:before {
  content: "\e940";
  color: rgb(192, 247, 159);
}
.icon-life_icon .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path8:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path9:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path10:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path11:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path12:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path13:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path14:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path15:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path16:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path17:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path18:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path19:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path20:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path21:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path22:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(238, 255, 225);
}
.icon-life_icon .path23:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path24:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(192, 247, 159);
}
.icon-life_icon .path25:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(106, 216, 54);
}
.icon-life_icon .path26:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(106, 216, 54);
}
.icon-life_icon .path27:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(106, 216, 54);
}
.icon-life_icon .path28:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(106, 216, 54);
}
.icon-life_icon .path29:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-soul_icon .path1:before {
  content: "\e95d";
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path2:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path3:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path4:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path5:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path6:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path7:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path8:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path9:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path10:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path11:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path12:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path13:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path14:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path15:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path16:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path17:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path18:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path19:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path20:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path21:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path22:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path23:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path24:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path25:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path26:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path27:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(240, 222, 255);
}
.icon-soul_icon .path28:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path29:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path30:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path31:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(217, 174, 255);
}
.icon-soul_icon .path32:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(150, 37, 216);
}
.icon-soul_icon .path33:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(150, 37, 216);
}
.icon-soul_icon .path34:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-soul_icon .path35:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-warm_icon .path1:before {
  content: "\e980";
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path3:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path4:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path5:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path6:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path7:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path8:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path9:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path10:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path11:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path12:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path13:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path14:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path15:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path16:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path17:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path18:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path19:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path20:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path21:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 225);
}
.icon-warm_icon .path22:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 225);
}
.icon-warm_icon .path23:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 225);
}
.icon-warm_icon .path24:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 225);
}
.icon-warm_icon .path25:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 255, 225);
}
.icon-warm_icon .path26:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 225);
}
.icon-warm_icon .path27:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path28:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 233, 141);
}
.icon-warm_icon .path29:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(252, 204, 0);
}
.icon-warm_icon .path30:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(252, 204, 0);
}
.icon-warm_icon .path31:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(252, 204, 0);
}
.icon-warm_icon .path32:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(252, 204, 0);
}
.icon-warm_icon .path33:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(252, 204, 0);
}
.icon-warm_icon .path34:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
